* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #CAF0F8;
}

h1 {
    color: #03045E;
    text-align: center;
    margin-top: 20px;
}

p {
    color: #0077B6;
    margin: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

label {
    color: #00B4D8;
    margin: 5px;
}



input {
    width: 200px;
    height: 30px;
    border: 2px solid #90E0EF;
    border-radius: 5px;
    padding: 5px;
}

select {
    width: 200px;
    height: 60px;
    border: 2px solid #90E0EF;
    border-radius: 5px;
    padding: 5px;
}

button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #00B4D8;
    color: white;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0077B6;
}

.routine {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 2px dashed #90E0EF;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.5;
}
